
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: -10;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #112;
}

.active {
    background-color: purple;
}


.header-logo{
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    width: 300px;
    height: 165px;
    background: url(/img/Somos.png);


}


.tiposolicitacao{
  position: relative;
  left: 320px ;
  width: 526px;
  border: 3px solid black;
  border-radius: 11px;
  padding: 10px;
 }

.divgeral{
 position: relative;
  left: 220px;
  max-width: 100%;
  width: 1000px;

 }

.divsolicitante{
  max-width: 100%;
    top:10px;
}

.solicitante{
  position: relative;
  width: 523px;
  height: 35px;
  left: 48px;
  max-width: 100%;



}

.divaprovador{
      position: relative;
      top:5px;

}


.aprovador{
  width: 523px;
  height: 35px;
  max-width: 100%;

}

.mot{
  position: relative;
  top: 18px
;


}

.bu{
  position: relative;
  left: 320px;
  top: -23px;
  max-width: 100%;
  width: 350px;

}

.modal{
  position: relative;
  left: 0px;

  max-width: 100%;
  width: 350px;

}


.cc{
  display: inline-block;
  position:absolute ;
  left: 434px;
  max-width: 100%;
  width: 350px


}


.linha{
  position: relative;
  top: 20px;
  max-width: 100%;
  width: 350px;

}


.datalimite{
max-width: 100%;
width: 350px
top: 25px;

}

.qtdexempl{
    position: relative;
    top: -26px;
    left: 356px;
    max-width: 100%;
    width: 350px


}

.npedido{
  position: relative;
  top: -4px;
 max-width: 100%;

}

.pedido{
  position: relative;
  left: 50px;

}


.obs{
  position: relative;
  width: 646px;
  height: 100px;
  top: 8px;
  max-width: 100%;
}

.botao{
 position: absolute;
    left: 726px;
    max-width: 100%;


}

.peded{
  position: relative;
    height: 40px;
  top: 10px;
  max-width: 100%;
  width: 350px;
}

.btnpedido{
position: relative;
    top: -26px;
    left: 186px;
    max-width: 100%;
    width: 350px

}

.infopedido{
  position: relative;
}
